.infinite-scroll-component__outerdiv {
  width: 100%;
}
#transition-modal-description p {
  overflow-wrap: break-word;
  line-height: 2;
}
#transition-modal-description pre {
  white-space: pre-wrap;
  word-break: break-word;
}
